.main-body {
    margin-left: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.main-body-section1,
.main-body-section2 {
    flex: 1; 
}

.main-body-section2{
  margin-left: 100px;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  display: flex;
  filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.3));
  animation: slideImages 40s infinite linear; /*hindi ata 42 na images yung maprepresent niya, 40s lang talaga*/
}

.slider-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes slideImages {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.main-body-section2 h2 {
    margin-top: 0;
}